<?xml version="1.0"?>
<launch>

 

    <!-- launch an empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" > 
		<arg name="world_name" value="$(find schunk_lwa4p_gazebo)/worlds/basic.world"/>
	</include>

    <!-- send lwa urdf to param server -->
    <include file="$(find schunk_lwa4p_description)/urdf/upload_lwa4p.launch" /> 

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model lwa4p -z 0.01 " respawn="false" output="screen" />

    <!-- run joint controllers -->
    <include file="$(find schunk_lwa4p_control)/launch/lwa4p_controller.launch" /> 


</launch>
